---
import Emoji from '@/components/Emoji.astro';
import Tags from '@/components/Tags.astro';
import Time from '@/components/Time.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import FloatBtn from '@/components/fab/FloatBtn.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
import { PostSummary } from '@/components/PostSummary';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts
    .map((post) => ({
      params: { slug: post.slug },
      props: post,
    }))
    .flat();
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content, headings } = await post.render();
const { title, tldr, date, tags = [], cover } = post.data;
---

<BaseLayout title={title} description={tldr} ogImage={cover}>
  {date && <meta name="date" content={date.toLocaleDateString()} slot="head" />}

  <main
    class="mx-auto py-8 prose dark:prose-invert prose-img:rounded-md prose-a:text-blue-500 prose-a:no-underline prose-a:border-b-2 prose-a:border-blue-500 prose-p:text-justify"
  >
    <article>
      <h1>{title}</h1>
      <div class="flex gap-8 font-mono">
        <span class="flex items-center gap-1" aria-label="å‘å¸ƒæ—¶é—´">
          <Emoji>ðŸ“…</Emoji>
          <Time date={date} />
        </span>
        <div class="flex gap-2 items-center">
          <Tags tags={tags} />
        </div>
      </div>
      <PostSummary client:load />
      <hr class="my-4" />
      <Content />
    </article>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.2/dist/confetti.browser.min.js"></script>
  <script is:inline>
    let spreaded = false;
    window.addEventListener('scroll', () => {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
      const scrollHeight = document.documentElement.scrollHeight;
      const clientHeight = document.documentElement.clientHeight;
      const scrollPercentage = (scrollTop / (scrollHeight - clientHeight)) * 100;
      if (scrollPercentage >= 99 && !spreaded) {
        confetti({
          particleCount: 100,
          spread: 70,
          origin: { y: 0.6 },
        });
        spreaded = true;
      }
    });
  </script>

  <FloatBtn />
</BaseLayout>
