---
import { type CollectionEntry, getCollection } from "astro:content";
import License from "@/components/post/License.astro";
import { PostActions } from "@/components/post/PostActions";
import { PostSummary } from "@/components/post/PostSummary";
import BaseLayout from "@/layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts
    .map((post) => ({
      params: { slug: post.slug },
      props: post,
    }))
    .flat();
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content, headings } = await post.render();
const { title, tldr, date, tags = [], cover } = post.data;
---

<BaseLayout title={title} description={tldr} ogImage={cover}>
  {date && <meta name="date" content={date.toLocaleDateString()} slot="head" />}

  <main
    class="prose lg:prose-lg xl:prose-xl mx-auto dark:prose-invert prose-img:rounded-md prose-a:font-medium prose-a:text-black prose-a:no-underline prose-a:border-b-2 prose-a:border-black dark:prose-a:text-white dark:prose-a:border-white prose-p:text-justify pb-8"
  >
    <h1 class="!text-4xl font-medium !mb-0">{title}</h1>
    <article>
      <PostSummary tldr={tldr} date={date} tags={tags} client:load />
      <section id="content">
        <Content />
      </section>
    </article>
    <hr />
    <License />
  </main>

  <PostActions headings={headings} client:load />

  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.2/dist/confetti.browser.min.js"></script>
  <script is:inline>
    let spreaded = false;
    window.addEventListener("scroll", () => {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
      const scrollHeight = document.documentElement.scrollHeight;
      const clientHeight = document.documentElement.clientHeight;
      const scrollPercentage = (scrollTop / (scrollHeight - clientHeight)) * 100;
      if (scrollPercentage >= 99 && !spreaded) {
        confetti({
          particleCount: 100,
          spread: 70,
          origin: { y: 0.6 },
        });
        spreaded = true;
      }
    });
  </script>
</BaseLayout>
