---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { renderTags } from '../helper';
import { Icon } from '@iconify/react';

const collection = await getCollection('blog');
const posts = collection.sort(
  ({ data: { date: dateA } }, { data: { date: dateB } }) => dateB.valueOf() - dateA.valueOf(),
);
---

<!doctype html>
<html lang="zh-Hans">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="py-4 space-y-10 max-w-prose mx-auto">
      {
        posts.map((post) => (
          <section>
            <div class="text-base font-bold mb-2 leading-relaxed text-primary/80 transition-all duration-300 hover:text-primary">
              <a href={`/blog/${post.slug}`}>{post.data.title}</a>
            </div>
            <div class="text-sm flex gap-4 h-4">
              <span class="flex items-center gap-1">
                <Icon icon="tabler:calendar-time" className="relative -top-px" client:load />
                <FormattedDate date={post.data.date} />
              </span>
              {post.data.tags && (
                <span class="flex items-center gap-1">
                  <Icon icon="tabler:hash" className="relative -top-px" client:load />
                  <span class="space-x-1" set:html={renderTags(post.data.tags)} />
                </span>
              )}
            </div>
          </section>
        ))
      }
    </main>
    <Footer />
  </body>
</html>
