---
export interface Props {
  title: string
  description: string
}
const { title, description } = Astro.props
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link href={import.meta.env.SITE} rel="canonical" />
  <meta name="generator" content={Astro.generator} />
  <title>{title} ❤️ {import.meta.env.SITE_NAME}</title>
  <meta
    name="description"
    content={`${import.meta.env.SITE_NAME}, ${import.meta.env.SITE_DESCRIPTION}, ${description}`}
  />
</head>
