---
import type { Post } from '@/types'
import { formatDate, slugify } from '@/utils'
import Layout from './Layout.astro'

const { frontmatter, Content } = Astro.props.post
const { title, tags, date, tldr } = frontmatter
export interface Props {
  post: Post
}
---

<Layout title={title} description={tldr}>
  <article class="prose prose-img:rounded-xl prose-h1:mb-0 mx-auto py-8">
    <h1>{title}</h1>

    <div class="mt-4">
      {formatDate(date)} by coderfee
    </div>

    <hr class="my-4 h-px bg-zinc-200" />

    <Content />

    <p class="space-x-4">
      {
        tags.map((tag) => (
          <a
            href={`/tags/${slugify(tag)}`}
            class="inline-block text-zinc-500 decoration-zinc-500 decoration-wavy underline-offset-4 transition-colors hover:(text-black decoration-black)"
          >
            #{tag}
          </a>
        ))
      }
    </p>
  </article>
</Layout>
